body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
    background-image: url('../images/background1.jpeg');
    background-position: center;
    background-size: cover;
}

.navbar {
    background: linear-gradient(30deg, #2d3e50 90%, #ff0000 100%);
    color: #fff;
    padding: 1.2em 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2em;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: rgb(255, 111, 85);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2.5em;
    margin: 0;
    padding: 0;
}

.nav-links a {
    background-color: rgba(79, 219, 98, 0.096);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05em;
    padding: 12px 14px;
    border-radius: 6px;
    transition: 1s;
}

.nav-links a:hover {
    transition: 1s;
    background-color: rgb(236, 46, 13);
    color: #ffffff;

}

main {
    flex: 1;
}

img {
    width: 900px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

#panneau {
    color: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 5px;
    background-color: rgba(145, 180, 221, 0.26);
    position: fixed;
    border-radius: 40px;
    top: 108px;
    left: 500px;
    right: 50%;
    width: 50%;

}

.emojie {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 5px;
}

.cacher {
    opacity: 0;
    position: absolute;
    transition: opacity 2s ease-in-out;
}

.visible {
    opacity: 1;
    position: relative;
    transition: 2s;
}

/* Footer moderne */
.footer {
    background-image: linear-gradient(35deg, #2d3e50 10%, #222 2%, #2d4055d7 88%), url('../images/cat.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 2em 2rem 1.2em 0;
    margin-top: 3em;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.07);
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    flex-wrap: wrap;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.footer-links a {
    border-radius: 8px;
    padding: 12px 19px;
    color: rgb(195, 204, 190);
    text-decoration: none;
    font-size: 1em;
    transition: 1s;
    transition: text-decoration 0.2s, color 0.2s;
}

.footer-links a:hover {
    background-color: #324a64;
    color: white;
    transition: 1s;
}